.greet-contents{
  width: 100vw;
  background-image: image-url('photo0000-0335.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  height: 100vh;
}

.greeting{
  font-size: 8vh;
}

.todays{
  font-size: 5vh;
}

.select-contents{
  padding: 5vh 10vw;
  background-color: #dee0e3;
}

.contents-title{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
}

.contents-lists{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.client-manegement-tag{
  width: 33vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  margin-top: 10px;
}

.client-img{
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}

.client-link{
  text-decoration: none;
}

.client-manegement-text{
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
}

.client-manegement-text2{
  font-size: 18px;
  margin-top: 10px;
  color: black;
}

.menber-chat-tag{
  width: 33vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  margin-top: 10px;
}

.menber-img{
  width: 100%;
  height: 55%;
  margin-bottom: 10px;
}

.menber-link{
  text-decoration: none;
}

.menber-chat-text{
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
}

.menber-chat-text2{
  font-size: 18px;
  margin-top: 10px;
  color: black;
}

.task-manegement-tag{
  width: 33vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  margin-top: 10px;
}

.task-img{
  width: 100%;
  height: 55%;
  margin-bottom: 10px;
}

.task-link{
  text-decoration: none;
}

.task-manegement-text{
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
}

.task-manegement-text2{
  font-size: 18px;
  margin-top: 10px;
  color: black;
}