<header class='top-page-header'>
  <div class='bar'>
    <%= link_to "gatturikun", "/", class: "gatturikun-icon" %>
    <div class="nav">
      <ul class="lists-right">
        <li><%= link_to "名前", "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', "#", class: "logout" %></li> 
      </ul>
    </div>
  </div>
</header>